* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 18px;
}

.max-width {
    max-width: 900px;
    margin: auto;
}
img {
    max-width: 100%;
    object-position: center center;
    object-fit: contain;
}